
$textColor: #333;
//$myBlue: #71d0f4;
$myBlue: #82ae47;
$myPink: #f4999e;
$myBlack: #0d0d0d;
$inactiveGray: #7a7a7a;
$descriptionActive: #d6d6d6;
$darkGray: #393939;
$regularText: #d6d6d6;
$inactiveButton: #a4a4a4;



