/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* --- ViewDo Code --- */
html, body {
  font-size: .85em;
  font-family: "Segoe UI",Helvetica,Sans-Serif;
  color: #232323;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

.formTitle {
  width: 97%;
  height: 36px;
  text-align: left;
  padding-top: 12px;
  padding-left: 3%;
  border-bottom: 1px solid #323232;
  font-family: Helvetica;
  font-size: 26px;
  font-weight: bold;
  color: #9f9f9f;
  text-shadow: 0 3px 1px #1b1b1b;
  background-color: #393939; }

.centeringDiv {
  padding-left: 15%;
  margin: 0 auto;
  width: 1000px;
  height: 1000px;
  background-color: #393939; }

.formPanel {
  padding-left: 10px;
  padding-top: 10px;
  margin: auto;
  float: left;
  width: 800px;
  height: 647px;
  min-height: 410px;
  background: #393939;
  border-radius: 0 10px 10px 10px;
  -moz-box-shadow: -1px 5px 30px rgba(50, 50, 50, 0.6) inset;
  -webkit-box-shadow: -1px 5px 30px rgba(50, 50, 50, 0.6) inset;
  box-shadow: -1px 5px 30px rgba(50, 50, 50, 0.6) inset;
  -webkit-appearance: none; }

.Settings-Heading {
  font-size: 32px;
  font-weight: bold;
  color: #e2e2e2;
  text-shadow: 1px 1px 1px black; }

.textBlock {
  padding-top: 15px; }

.regularText {
  color: #cac3c3;
  font-size: 16px;
  line-height: 1.4; }

#instruction {
  width: 60%;
  float: left; }

#photo {
  width: 34%;
  float: left;
  padding-top: 20px;
  padding-left: 20px; }

a {
  text-decoration: none; }

a:hover {
  background-color: gray; }

.steps {
  clear: both;
  padding-top: 20px;
  padding-right: 10px; }

.stepsTitleActive {
  color: #82ae47;
  font-size: 18px;
  text-shadow: 1px 1px 1px black;
  background-color: #0d0d0d;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px; }

.stepsTitleInactive {
  clear: both;
  color: #7a7a7a;
  font-size: 18px;
  text-shadow: 1px 1px 1px black;
  background-color: #0d0d0d;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px; }

.descriptionActive {
  color: #d6d6d6;
  font-size: 16px;
  text-shadow: 1px 1px 1px black;
  padding: 20px 20px 10px 8px; }

.descriptionInactive {
  color: #7a7a7a;
  font-size: 16px;
  text-shadow: 1px 1px 1px black;
  padding: 20px 20px 10px 8px; }

#uploadCSV {
  float: left; }

#uploadButton {
  float: left;
  font-size: 18px;
  font-weight: 400;
  background-color: #82ae47;
  padding: 8px 30px 8px 30px;
  margin-top: 10px;
  color: white;
  border-radius: 5px; }

#uploadButton:hover {
  background-color: #a4a4a4; }

.processingBox {
  background-color: #f4999e;
  color: #393939;
  padding: 90px 20px 100px 100px;
  font-size: 18px;
  font-weight: 700;
  width: 400px;
  box-shadow: 2px 2px 2px black;
  position: absolute;
  top: 20%;
  left: 30%; }

#allDone {
  color: #d6d6d6; }

.currentFilters {
  border: 1px solid #82ae47;
  width: 120px;
  color: #d6d6d6;
  font-size: 18px;
  padding: 10px 0px 10px 10px;
  line-height: 1.4; }

.ctaButton {
  float: left;
  font-size: 18px;
  font-weight: 400;
  background-color: #82ae47;
  padding: 8px 30px 8px 30px;
  margin-top: 20px;
  margin-right: 50px;
  color: white;
  border-radius: 5px; }

.button {
  width: 200px;
  height: 40px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  vertical-align: middle;
  font-family: "Segoe UI",Helvetica,Sans-Serif;
  font-size: 16px;
  text-transform: none;
  border: 1px solid transparent;
  color: white;
  border-radius: 5px; }

.button:hover {
  background-color: #82ae47;
  color: #393939; }

#cancel {
  background-color: #393939;
  box-shadow: 1px 1px 1px black;
  border: 1px solid #d6d6d6;
  color: #d6d6d6; }

input#submit {
  color: white;
  background-color: #82ae47;
  float: right;
  margin-right: 10px; }

#submit:hover, #cancel:hover {
  background-color: gray;
  color: white; }

.ctaArea {
  padding: 20px 20px 20px 20px;
  clear: both; }

.clearDiv {
  clear: both; }

.checkBoxArea {
  margin-right: 10px;
  border: 1px solid #82ae47;
  width: auto;
  height: 500px; }

.item {
  color: #d6d6d6;
  font-size: 16px;
  padding-top: 15px;
  padding-left: 15px; }

input[type=checkbox].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 20px;
  height: 15px;
  display: inline-block;
  line-height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 15px;
  vertical-align: middle;
  cursor: pointer; }

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -15px; }

.css-label {
  background-image: url("../images/lite-green-check.png"); }

.column {
  float: left;
  width: 33%; }

.descriptionError {
  color: #f4999e;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 1px 1px 1px black;
  padding: 20px 20px 10px 8px; }

/* Helper Classes =============================================================================== */
.hide {
  display: none !important;
  visibility: hidden; }

.show {
  display: block !important; }

.visually-hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.invisible {
  visibility: hidden; }
